body{
	width: 100%;
	height: 100%;
}
.header{
	background-color: black;
	position: fixed;
width: 100px;
height: 90vh;
margin-left: 20px;
margin-top: 24px;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
	align-items: center;
flex-basis: 160px;
z-index: 100000;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.paddingbt{
	padding-top: 20px;
	padding-bottom: 20px;
}
.padding1{
	padding-left: 20px;
	padding-right: 20px;
}
.padding{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.up{
	display: flex;
	
	flex-direction: column;
justify-content: center;
	align-items: center;	
}
.all_width{
	width: 100%;
	height: 100%;
	display: block;
}
@media(max-width: 767px){
	.none{
		display: none;
	}
	.header2{
		display: flex!important;
		z-index: 100000!important;
	}
	.men{
		margin-top: 100px!important;
	}
	.header{
		display: none;
	}
}
.row{
	width: 100%;	
}
.men{
background: rgba(213, 213, 234, 1);
	width: 100%;
	border-radius: 40px;
height: 160px;
margin-top: 24px;
display: flex;

	align-items: center;
}
.hello{
	padding-left: 20px;
	width: 55%;
}
.ill{
	height: 160px;
	width: 100%;
}
.my_course{
	width: 100%;
height: 80px;
background: rgba(213, 213, 234, 1);
border-radius: 20px;
margin-top: 20px;
display: flex;
justify-content: space-around;
align-items: center;
}
.cube{
	float: left;
	width: 70px;
	height: 70px;
	border-radius: 10px;
	background-color: white;
}
.black_button{
	height: 40px;
	width: 30%;
	background-color: black;
	border-radius: 10px;
	color: white;
}
.black_button:hover{
	color: white;
}
.font_width {
    font-weight: 700;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.font_width1{
	font-weight: 700;

}
p{
	margin-bottom: 0px;
	margin-top: 0px;
}
.leson{
	margin-top: 40px;
	margin-bottom: 10px; 
}
.navigat{
margin-top: 20px;
}
.float_left{
	display: flex;
justify-content: space-around;
align-items: center;
}
.lesons{
	margin-top: 20px;
	width: 100%;
	height: 100px;
	display: flex;
justify-content: space-around;
align-items: center;
background: rgba(213, 213, 234, 1);
border-radius: 20px;

}
.start{
	height: 60px;
	width: 30%;
	border-radius: 10px;
	border: 3px solid #000;
	padding: 5px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: black;
}
.complete{
	display: flex;
justify-content: space-around;
align-items: center;
margin-top: 24px;
}
.ter{
	background: rgba(213, 213, 234, 1);
	width: 40%;
	height: 160px;
	display: flex;
justify-content:center;
align-items: center;
border-radius: 20px;
}
.width_100{
width: 100%;
}
.price{
margin-top: 20px;
	width: 100%;
	display: flex;
justify-content: space-around;
align-items: center;
background: rgba(213, 213, 234, 1);
border-radius: 20px;
}
.left{
	width: 50%;
	font-weight: 700;

}
.culmn{
	display: flex;
	flex-direction: column;

	align-items: center;
}
.header2{
	background-color: black;
	position: fixed;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
	align-items: center;
	display: none;
	z-index: 100000;
}
.h1,.h6{
	float: left;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
.wi{
	width: 93%;
	margin: 0px auto;
}
.rower{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;

}
.size70{
	width: 35px;
	height: 35px;
}
.width100{
    width: 100%;
}
.start:hover {
    height: 60px;
    width: 30%;
    border-radius: 10px;
    background-color:#151515;
    color:white;
    padding: 5px;
    transition: 0.5s linear;
}