.regist{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
.name{
	border: none;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	color: blue;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #000;
  width: 99%;
}