html, body {
  height: 100%;
  width: 100%;
}
body{
	display: flex;
  flex-direction: column;
}
.header2{
	background-color: black;
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	display: none;
	z-index: 100000;
	margin-top: 0px;
	flex-basis: 160px;
}
.header{
	background-color: black;
	position: fixed;
width: 100px;
height: 90vh;
margin-left: 20px;
margin-top: 24px;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
	align-items: center;
flex-basis: 160px;
z-index: 100000;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.paddingbt{
	padding-top: 20px;
	padding-bottom: 20px;
}
.padding1{
	padding-left: 20px;
	padding-right: 20px;
}
.padding{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
@media(max-width: 767px){
	.none{
		display: none!important;
	}
	.header2{
		display: flex!important;
		z-index: 100000!important;
	}
	.header{
		display: none;
	}
}
.row{
	width: 100%;
	margin: 0px;
}
.width100{
	width: 100%;
}
.hight{
	height: 70vh;
}
@media (max-width: 767px) {
	.course_navigation{
		display: none;
	}
	.video{
		margin-top: 100px!important;
	}
}
.g{
	display: flex;
	justify-content: flex-start;
}
.column{
	display: flex;
	flex-direction:column;
	justify-content: flex-end;
}
.rowww{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}
.video{
	margin-top: 20px;
}

.course_name{
	width: 100%;
	height: 100px;
}
hr{
	margin-bottom: 0px;
	margin-top: 0px;
}
.w{
	display: flex;
	align-items: center;
	min-height: 40px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
	color: black;
}

.course_navigation{
	max-height: 100vh;
    width: 100%;
    background: rgba(213, 213, 234, 1);
    position: fixed;
    right: 0px;
    top: 24px;
}
.modul{
	background: rgba(11, 11, 9, 0.9);
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 5px;
	min-height: 40px;
}
.lesons2{
	margin-top: 40px;
}
.lesons{
	overflow: auto; 
    width: 100%; 
    height: 80%;	
    padding: 5px; 
}
.lesons::-webkit-scrollbar {
    width: 6px;
}
 
 
.lesons::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0); 
}
.svg{
	height: 40px;
	width: 40px;
}
.yes{
	background-color: #ede238;
	border-radius: 5px;
}
.padding2{
	margin-right: 10px;
	margin-left:10px;
	margin-top:10px;
	margin-bottom: 10px;
}
.no{
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.rowww1{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}
h5{
	margin: 0px;
}
.all_width{
width: 100%;
height: 100%;
}
.gray{
	background: rgba(213, 213, 234, 1);
	border-radius: 5px;
}
.rowww2{
	display: flex;
	flex-direction: row;
}
.marginr{
	margin-right: 20px;
}
.paddingbt10{
	padding-top: 10px;
	padding-bottom: 10px;
}
.comment{
	margin-top: 20px;
	background-color: #eeeef3;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	border-radius: 5px;
}
.comment_content{
	padding-left: 20px;
}
p.comment_content{
	margin-bottom: 0px;
}